# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.xml
/.idea/
.project
.cproject
.mxproject

/MDK-ARM/HouseKeeper/
/MDK-ARM/DebugConfig/
/MDK-ARM/HouseKeeper.uvgui*
/MDK-ARM/HouseKeeper.uvopt*
/MDK-ARM/*.scvd
